/* 
font-family: 'Inter', sans-serif;
font-family: 'Varela Round', sans-serif; 
font-family: 'Fredoka One', cursive;

linear-gradient(90deg, rgba(200,31,148,1) 0%, rgba(193,136,19,1) 84%, rgba(71,177,124,1) 100%);
*/


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.content-wrapper {
    font-family: 'Inter', sans-serif;
    color: #111111;
    padding: 70px 0;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo-image {
    height: 34px;
}

.logo-wrapper .logo-text {
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.02em;
}

.header-navigation .navigation-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header-navigation .navigation-list .navigation-item {
    list-style-type: none;
    display: inline-block;
}


label.switcher-background {
    width: 62px;
    height: 28px;
    position: relative;
    display: block;
    background: #242424;
    border-radius: 25px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label.switcher-background:after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #FF3998;
    /* background: linear-gradient(180deg, #ffcc89, #d8860b); */
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

input.switcher {
    width: 0;
    height: 0;
    display: none;
    /* visibility: hidden; */
}

input.switcher:checked + label.switcher-background  {
    background: #ebebeb;
} 

input.switcher:checked + label.switcher-background:after {
    left: 60px;
    transform: translateX(-100%);
}


label.switcher-background svg {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 5px;
    z-index: 5;
}

label.switcher-background  svg.moon {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}

label.switcher-background  svg.sun {
    left: 39.58px;
    fill: #7e7e7e;
    transition: 0.3s;
}

input.switcher:checked + label.switcher-background  svg.moon {
    fill: #7e7e7e;
}

input.switcher:checked + label.switcher-background  svg.sun {
    fill: #fff;
}


.header-navigation .navigation-list .navigation-item .item-link {
    text-decoration: none;
    color: #555555;
    font-weight: 400;
    font-size: 20px;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.header-wrapper .header-navigation .navigation-list .navigation-item .item-link:hover {
    color: #FF3998;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

.hamburger-menu-line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 25px;
    background-color: #111111;
    transition: all 0.3s ease;
}

.dark-mode .hamburger-menu-line {
    background-color: #FFFFFF;
}


.hero-box {
    overflow: hidden;
}

.hero-box-wrapper {
    margin-top: 182px;
    /* display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 75px; */
    margin-bottom: 182px;
    position: relative;
}

span.launching {
    margin-top: 20px;
    text-transform: uppercase;
    color: #FF3998;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
}

span.launching-august {
    font-weight: 800;
}

.hero-box-info .hero-box-title {
    max-width: 540px;
    line-height: 116px;
    font-weight: 900;
    font-size: 96px;
    margin: 24px 0 32px;
}

.hero-box-info .hero-box-description {
    max-width: 500px;
    color: #555555;
    line-height: 150%;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 41px;
}

.button {
    display: block;
    background-color: transparent;
    color: #111111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px; 
    padding: 21px;
    border: 5px solid #ba0e60;
    border-radius: 50px;
    text-align: center;
    max-width: 188px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.hero-box .hero-box-image {
    width: 661px;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: -30px;
}

.banner-wrapper {
    padding: 154px 64px 64px;
    background-image: url('img/background.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 120px;
}

.banner-wrapper .banner-title {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
}

.banner-wrapper .banner-description {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.logos-section {
    margin-bottom: 120px;
}


.logos-section .logos-section-list {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.logos-section .logos-section-list .logo-section-item {
    list-style-type: none;
}

.logos-section .logos-section-list .logo-section-item:nth-of-type(1) {
    display: none;
}

.logos-section .logos-section-list .logo-section-item .logo-section-image {
    display: block;
}

.auction-container {
    margin-bottom: 120px;
}

.auction-container .auction-title {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 24px;
}

.auction-container .auction-description {
    color: #555555;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 56px;
}

.auction-container .auction-description span {
    font-weight: 500;
}

.auction-container .auction-description .auction-description-link {
    color: #555555;
    text-decoration: none;
    border-bottom: 2px solid #555555;
}

.auction-container .auction-description .auction-description-link:hover {
    opacity: 0.7;
}

.auction-products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* overflow: hidden; */
}

.auction-products-list .product-item .product-item-image {
    display: block;
    width: 260px;
}

.auction-products-list .product-item .item-info {
    background-color: #EEEEEE;
    border-radius: 0 0 20px 20px;
}

.product-item .item-info .info-list {
    margin: 0;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 12px;
    align-items: center;
}

.product-item .item-info .info-list .info-list-item {
    list-style-type: none;
}

.product-item .item-info .info-list .info-list-item:nth-child(2),
.product-item .item-info .info-list .info-list-item:nth-child(4),
.product-item .item-info .info-list .info-list-item:nth-child(6) {
    justify-self: end;
}

.product-item .item-info .info-list .info-list-item.price {
    display: flex;
    justify-content: center;
    gap: 8px;
}


.product-item .item-info .info-list .info-list-item:nth-child(1),
.product-item .item-info .info-list .info-list-item:nth-child(2) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

.product-item .item-info .info-list .info-list-item.series {
    color: #FF8139;
}

.product-item .item-info .info-list .info-list-item.bid {
    color: #777777;
}

.product-item .item-info .info-list .info-list-item:nth-child(3)
.product-item .item-info .info-list .info-list-item:nth-child(4) {
    font-weight: 500;
    font-size: 20px;
}

.product-item .item-info .info-list .info-list-item:nth-child(5),
.product-item .item-info .info-list .info-list-item:nth-child(6) {
    color: #777777;
    font-weight: 400;
    font-size: 18px;   
}

.section-container  {
    overflow: hidden;
}

.section-container .section-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 3px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    margin-bottom: 120px;
    position: relative;
}

.section-container .section-info {
    position: relative;
    width: 58%;
    z-index: 3;
}

.section-container .section-info .section-title {
    font-weight: 900;
    font-size: 56px;
    max-width: 565px;
    margin: 24px 0;
}

.section-container .section-info .section-description {
    color: #555555;
    line-height: 150%;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    max-width: 535px;
}

.section-container .section-info .button {
    margin-bottom: 100px;
}

.section-container .section-image {
    width: 175px;
    position: absolute;
    bottom: -3px;
    left: 70%;
    z-index: 1;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 24px;
    margin-bottom: 48px;
}

.footer-info-wrapper .footer-info {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}


.footer-info-wrapper .footer-info .exclusive {
    color: #111111;
    font-weight: 600;
    font-size: 18px;
}


.footer-info-wrapper .footer-navigation-list  {
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
}

.footer-info-wrapper .footer-navigation-list .footer-navigation-list-item .footer-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #555555;
    font-weight: 600;
    font-size: 16px;
}

.footer-info-wrapper .footer-navigation-list .footer-navigation-list-item .footer-item-link:hover {
    opacity: 0.7;
}

.footer-container .footer-end-info {
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-end-info-item {
    color: #555555;
    font-weight: 400;
    font-size: 18px;
}




/* MODAL */
#modal {
    position: fixed;
    top: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.8);
    z-index: 10;
    transition: top 0ms ease-in-out 300ms;
}
  
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
    background: #fff;
    width: 600px;
    transition: all 300ms ease-in-out;
}
  
  
#modal.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}
  
#modal.active .modal-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
  
.close {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #111;
    cursor: pointer;
}
  
.close:hover {
    opacity: 0.7;
}
  
.modal-image-wrapper {
    background-color: #FF3998;
    padding: 35px 0;
    display: flex;
    justify-content: center;
}
  
  /* Rombas */
.modal-image-wrapper:after {
    content: "";
    position: absolute;
    top: 179px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: #FF3998;
}
  
.modal-image {
    width: 120px;
}
  
.modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 35px;
  
}
  
.modal-title, .modal-description {
    margin: 0;
    text-align: center;
}
  
.modal-title {
    font-size: 30px;
}
  
.modal-description {
    font-size: 18px;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
  
.form-item {
    width: 50%;
    border: none;
    padding: 8px;
    font-size: 13px;
    color: rgb(184, 178, 178);
    background-color: #2a2929;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
}
  
.subscribe-button {
    padding: 10px 20px;
    border: 2px solid #FF3998;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
}
  
.subscribe-button:hover {
    opacity: 0.7;
}







body.dark-mode {
    background-color: #111111;
}

.dark-mode .logo-text,
.dark-mode .hero-box-title,
.dark-mode .button,
.dark-mode .auction-title,
.dark-mode .auction-container .auction-products-list .product-item .item-info .info-list .info-list-item.name,
.dark-mode .auction-container .auction-products-list .product-item .item-info .info-list .info-list-item.price,
.dark-mode .section-container .section-info .section-title {
    color: #FFFFFF;
}

.dark-mode .logo-image path {
    fill: #FFFFFF;
}

.dark-mode .header-navigation .navigation-list .navigation-item .item-link,
.dark-mode .hero-box .hero-box-info .hero-box-description,
.dark-mode .section-container .section-info .section-description,
.dark-mode .footer-navigation .footer-navigation-list-title,
.dark-mode .footer-navigation .footer-navigation-list .footer-navigation-list-item .footer-item-link,
.dark-mode .footer-info-wrapper .footer-info .exclusive {
    color: #CCCCCC;
}

.dark-mode .auction-container .auction-description,
.dark-mode .auction-container .auction-description .auction-description-link {
    color: #999999;
}


.dark-mode .auction-container .auction-products-list .product-item .item-info {
    background-color: black;
}


.dark-mode .section-container .section-wrapper {
    border-top: 3px solid #555555;
    border-bottom: 3px solid #555555;
}

.dark-mode .footer-info-wrapper .footer-navigation-list .footer-navigation-list-item .footer-item-link {
    color: #CCCCCC;
}


@media (max-width: 1119px) {
    .logos-section .logos-section-list .logo-section-item:nth-of-type(5) {
        display: none;
    }
}

@media (max-width: 871px) {
    .logos-section .logos-section-list-wrapper {
        display: flex;
        justify-content: center;
    }

    .logos-section .logos-section-list {
        /* width: 70%; */
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .logos-section .logos-section-list .logo-section-item {
        width: calc((100% - 30px) / 2);
    }

    .modal-content {
        width: 380px;
    }

    .modal-image-wrapper {
        padding: 25px 0;
    }
      
      /* Rombas */
    .modal-image-wrapper:after {
        top: 125px;
    }
      
    .modal-image {
        width: 85px;
    }
      
    .modal-info {
        padding: 30px 25px; 
    }
      
    .modal-title {
        font-size: 25px;
    }
      
    .modal-description {
        font-size: 16px;
    }
      
    .form-item {
        width: 70%;
    }
}

@media (max-width: 784px) {
    .content-wrapper {
        padding: 35px 0;
    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
            
    .header-navigation .navigation-list {
        position: fixed;
        right: -100%;
        top: 0;
        gap: 25px;
        flex-direction: column;
        padding-top: 90px;
        background-color: rgba(238, 238, 238, 0.7);
        width: 50%;
        height: 100svh;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .dark-mode .header-navigation .navigation-list {
        background-color: rgba(17, 17, 17, 0.8);
    }
        
    .header-navigation .navigation-list.active {
        right: 0;
    }
        
    .header-navigation .navigation-list .navigation-item {
        margin: 0;
    }

    .header-navigation .navigation-list .navigation-item .item-link {
        font-size: 18px;
        padding: 0;
    }
                
        
    .hamburger-menu {
        z-index: 10;
        display: block;
    }
                        
    .hamburger-menu.active .hamburger-menu-line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .hamburger-menu-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .hamburger-menu-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner .container{
        padding: 0;
    }

    .hero-box-wrapper {
        margin-bottom: 120px;
        margin-top: 90px;
    }

    .hero-box-info .hero-box-title {
        font-size: 54px;
        line-height: 60px;
        margin-bottom: 24px;
    }

    .hero-box-info .hero-box-description {
        max-width: 400px;
        font-size: 20px;
        margin-bottom: 32px;
    }

    .hero-box .hero-box-image {
        width: 380px;
        left: 55%;
        top: -60px;
    }
}

@media (max-width: 627px) {

    .logo-wrapper {
        column-gap: 5px;
    }

    .logo-image {
        height: 25px;
    }

    .logo-wrapper .logo-text {
        font-size: 20px;
    }

    .hero-box-wrapper {
        margin-bottom: 80px;
    }

    span.launching {
        font-size: 13px;
        letter-spacing: normal;
        font-weight: 500;
    }

    .hero-box-info .hero-box-title {
        max-width: 300px;
        font-size: 48px;
        margin: 20px 0 20px;
    }

    .hero-box-info .hero-box-description {
        max-width: 328px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .button {
        font-size: 18px;
        padding: 15px;
        max-width: 160px;
    }

    .banner-wrapper {
        margin-bottom: 60px;
        padding: 65px 32px 50px;
        border-radius: 0;
    }

    .banner-wrapper .banner-title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .banner-wrapper .banner-description {
        font-size: 18px;
    }

    .logos-section {
        margin-bottom: 100px;
    }

    .auction-container {
        margin-bottom: 90px;
    }

    .auction-container .auction-title {
        font-size: 34px;
        margin-bottom: 18px;
    }

    .auction-container .auction-description {
        font-size: 18px;
    }

    .auction-products-list {
        justify-content: center;
    }

    .section-container .section-wrapper {
        padding-top: 50px;
        padding-bottom: 60px;
        margin-bottom: 80px;
    }

    .section-container .section-info {
        width: 70%;
    }

    .section-container .section-info .section-title {
        font-size: 44px;
        margin: 15px 0 15px;
    }

    .section-container .section-info .section-description {
        font-size: 18px;
        max-width: 298px;
    }

    .section-container .section-image {
        width: 150px;
    }

    .section-container .section-info .button {
        margin-bottom: 60px;
    }

    .logos-section .logos-section-list .logo-section-item:nth-of-type(1) {
        display: block;
    }

    .logos-section .logos-section-list .logo-section-item:nth-of-type(2) {
        display: none;
    }

    .footer-container .container {
        padding: 0 40px;
    }

    .footer-info-wrapper {
        align-items: flex-start;
    }

    .footer-info-wrapper .footer-info .exclusive {
        font-size: 14px;
    }

    .footer-info-wrapper .footer-navigation-list {
        flex-direction: column;
        gap: 20px;
    }

    .footer-container .footer-end-info-item {
        font-size: 16px;
    }

    .footer-container .footer-end-info .footer-end-info-item:nth-of-type(2) {
        display: none;
    }

}

@media (max-width: 425px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-box-info .hero-box-title {
        margin: 15px 0 15px;
    }

    .hero-box-info .hero-box-description {
        max-width: 259px;
    }

    .hero-box .hero-box-image {
        left: 48%;
    }

    .section-container .section-info {
        width: 72%;
    }

    .section-container .section-info .section-title {
        font-size: 40px;
    }

    .section-container .section-image {
        left: 76%;
    }

    .footer-container .container {
        padding: 0 20px;
    }

    .footer-info-wrapper {
        flex-direction: column;
        gap: 20px 24px;
        margin-bottom: 35px;
    }

    .modal-content {
        width: 80%;
    }
}

@media (max-width: 352px) {
    .logos-section .logos-section-list {
        width: unset;
        align-items: flex-start;
        flex-direction: column;
    }

    .auction-products-list .product-item {
        width: 100%;
    }

    .auction-products-list .product-item .product-item-image {
        width: 100%;
    }

    .product-item .item-info .info-list {
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
}